*.bgn
*.bit
*.xwbt
*.bld
*.cmd_log
*.drc
*.ncd
*.exe
*.lso
*.map
*.mrp
*.mgm
*.xrpt
*.ngc
*.ngd
*.ngr
*.pad
*.par
*_pad.csv
*_pad.txt
*.pcf
*.prj
*.ptwx
*.xml
*.twr
*.twx
*.unroutes
*.syr
*.stx
*.ut
*.vhi
*.html
*.xst
*.xpi
*.ngm
*.wdb
*.log
*.xmsgs
*.cmd
*.gise
_ngo
xst
*.ini
isim
netgen
*_xdb
